body { 
	padding: 0; 
	margin: 0; 
	font-family: verdana; 
} 

.container { 
	display: flex; 
	flex-direction: column; 
	justify-content: center; 
	align-items: center; 
	width: 100%; 
	height: 100vh; 
	background-color: rgb(156, 155, 155); 
} 

h1 { 
	color: rgb(0, 0, 0); 
    text-decoration: underline;
	text-align: center; 
} 

.digit { 
	font-size: 50px; 
	color: #000000; 
} 

.txt { 
	font-size: 30px; 
	color: #000000; 
} 

#buttons { 
	margin-top: 50px; 
} 

.btn { 
	width: 100px; 
	padding: 10px 15px; 
	margin: 0px 20px; 
	border-radius: 15px;
    border: none;
	cursor: pointer; 
	font-size: 20px; 
	transition: 0.5s; 
	color: white; 
	font-weight: 500; 
} 

#start { 
	background-color: #009779; 
} 

#start:hover { 
	background-color: #006d57; 
}

#stop { 
	background-color: #0e85fc; 
} 

#stop:hover { 
	background-color: #094f96; 
} 

#reset { 
	background-color: #c91400; 
}

#reset:hover { 
	background-color: #860e01; 
}